{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"group":"doc","deltas":[{"start":{"row":0,"column":0},"end":{"row":7,"column":14},"action":"insert","lines":["Django==1.6.5","dj-database-url==0.3.0","dj-static==0.0.6","django-toolbelt==0.0.1","gunicorn==19.0.0","psycopg2==2.5.3","static3==0.5.1","wsgiref==0.1.2"]}]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":7,"column":14},"end":{"row":7,"column":14},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":12,"mode":"ace/mode/text"}},"timestamp":1423921314620,"hash":"04115cddc900d63dd686fdc2f3dbd08fc5a0615e"}